/* This uses some styles from FeaturesSection.css like .section-container */
.bio {
  margin-bottom: 2rem; /* Add some space below the bio */
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.social-link:hover {
  color: var(--primary-color);
}